
.design-submit-button{
    border:2px solid var(--primary-orange)!important;
    color: white;
    width: 150px;
}

.design-submit-button:hover{
    background-color: var(--primary-orange)!important;
    color: var(--primary-background);
    transform: scale(1.1);
}

@media(max-width:768px){
    .design-submit-button{
        width: 100px;
    }
   
}