.header-wraper{
    position: relative;
    background: url(../../images/BG-Header2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
  }
  .header-wraper::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    opacity: .7;
    z-index: -1;
  }
  
  .main-info{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  
  .main-info h1{
    color:var(--primary-orange);
    text-transform: uppercase;
  }
  
  .dp-design{
    width: 12.5rem;
    border-radius: 50%;
    margin-top: 50px!important;
    border: 0.125rem solid var(--primary-orange);
  }

 
  
  .icon-design .icon{
      height: 40px;
      width: 40px;
      color:var(--primary-orange);
      border-radius: 50%;
      border: 2px solid var(--primary-orange);
      padding: 10px; 
  }
  .icon-design .icon:hover{
    transform: scale(1.2);
  }
  
  
  
  .typed-text{
    font-size: 2rem;
    color: #fff;
  }

  .bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    z-index: -2;
  }
  .bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0px;
  }
  @media (max-width: 576px) {
    .bubbles img{
     display: none;
    }
   }
  @keyframes bubble{
    
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    50%{
      
      opacity: 1;
    }
    70%{
      
      opacity: 1;
    }
    100%{
      transform: translateY(80vh);
      opacity: 0;
    }

  }

  .bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
  }
  .bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 20px;
  }
  .bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 35px;
  }
  .bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 10px;
  }
  .bubbles img:nth-child(5){
    animation-delay: 5s;
  }
  .bubbles img:nth-child(6){
    animation-delay: 2s;
    width: 25px;
  }
  .bubbles img:nth-child(7){
    animation-delay: 1s;
    width: 20px;
  }
  .bubbles img:nth-child(8){
    animation-delay: 5.5s;
    width: 25px;
  }

  
  @media(max-width:768px) {
    .main-info h1 {
      font-size: 1.6rem !important;
    }
    .typed-text{
      font-size: 1.2rem !important;
    }
    .icon-design .icon{
      height: 30px;
      width: 30px;
      color:#f9ab00;
      border-radius: 50%;
      border: 1px solid #f9ab00;
      padding: 5px; 
    }
  }

  @media (max-width: 576px) {
    .dp-design{
      width: 8rem;
      
    }
    .header-wraper{
     
      height: 60vh;
     
    }
   }