@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root {
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-background:#0A192F;
}

body {
  font-family:'Roboto', sans-serif;
}



