@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-black:#212529;
}

body {
  font-family: "Roboto Condensed sans-serif";
}

/**************** Navbar ***************/

.navbar-nav > li > a{
  border-top: 0.1875rem solid var( --primary-black);
}

 .navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}

/**************** Header ***************/
.header-wraper{
  position: relative;
  background: url(./images/BG-Header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  z-index: 1;
}
.header-wraper::before{
  position: absolute;
  content: "";
  top:0;
  width: 100%;
  height: 100%;
  background: rgb(12, 11, 27);
  opacity: .8;
  z-index: -1;
}

.main-info{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

/**************** typed ***************/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 1.6rem !important;
  }
  .typed-text{
    font-size: 1.2rem !important;
  }
}

